name: Deployment pipeline

env:
  MERGE_OR_PUSH_TO_MAIN: ${{ github.event_name == 'push' }}
  SKIP_DEPLOYMENT: ${{ contains(join(github.event.commits.*.message, ', '), '#skip') }}

on:
  push:
    branches:
      - main
  pull_request:
    branches: [main]
    types: [opened, synchronize]

jobs:
  simple_deployment_pipeline:
    timeout-minutes: 60
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm ci

      - name: Lint
        run: npm run eslint

      - name: Build
        id: build
        run: npm run
      - name: Notify on failed build
        uses: rjstone/discord-webhook-notify@89b0bf43c2c8514f70d0dcba4a706b904e8a3112
        if: ${{ failure() && steps.build.conclusion == 'failure' }}
        with:
          severity: error
          username: GitHub
          text: Build failed
          description: commit ${{ github.event.head_commit.url }} by ${{ github.event.head_commit.author.username }} broke the build.
          webhookUrl: ${{ secrets.DISCORD_WEBHOOK }}

      - name: Unit tests
        run: npm run

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      - name: E2E tests
        run: npx playwright test
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30

      - name: Debug SKIP_DEPLOYMENT
        run: echo "SKIP_DEPLOYMENT:"${{ env.SKIP_DEPLOYMENT }}

      - name: Debug MERGE_OR_PUSH_TO_MAIN
        run: echo "MERGE_OR_PUSH_TO_MAIN:"${{ env.MERGE_OR_PUSH_TO_MAIN}}

      - name: Trigger deployment
        if: ${{ env.MERGE_OR_PUSH_TO_MAIN == 'true' && env.SKIP_DEPLOYMENT == 'false' }}
        run: curl https://api.render.com/deploy/srv-${{ secrets.RENDER_SERVICE_ID }}?key=${{ secrets.RENDER_API_KEY }}
      - name: Notify on succesful deployment
        uses: rjstone/discord-webhook-notify@89b0bf43c2c8514f70d0dcba4a706b904e8a3112
        if: ${{ success() && env.MERGE_OR_PUSH_TO_MAIN == 'true' && env.SKIP_DEPLOYMENT == 'false' }}
        with:
          severity: info
          username: GitHub
          text: A new version of Pokedex deployed
          description: to https://pokedex-o553.onrender.com by ${{ github.event.head_commit.author.username }}
          webhookUrl: ${{ secrets.DISCORD_WEBHOOK }}

  tag_release:
    if: ${{ github.env.MERGE_OR_PUSH_TO_MAIN == 'true' && github.env.SKIP_DEPLOYMENT == 'false' }}
    needs: [simple_deployment_pipeline]
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Bump version and push tag
        uses: anothrNick/github-tag-action@f278d49d30cdd8775cc3e7dd00b5ee11686ee297
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          WITH_V: true
          DEFAULT_BUMP: patch
